body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
    
    
}
.navigation {background: darkblue;}
.container-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    


li, a {
    color: white;
    display: inline;
    text-decoration: none;
    list-style-type: none;  
}   
}

/*========================================*/

.header,.container-header {background: darkblue;}

.container-header {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;

.eye-catching-text {
    width: 300px;
    flex-wrap: wrap;
    font-size: 18px;

    h1 {
        font-size: 48px;
    }

    button {
      margin: 8px;  
    }
}
}


/*=================================*/
.information, h2 {
    text-align: center;
    margin: 50px;
}
.container-info-1 {
   display: flex; 
   flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
    

    .info-img {
        padding: 12px;
        border-radius: 10px;
        border: 2px solid blue;
    }  
}

/*=================================*/

.testimonial {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    font: italic 36px sans-serif;
    color: #1f2937;

    .testimonial-reference {
        text-align: right;
    }
}